$button-fontStyle: normal;
$button-fontWeight: bold;
$button-lineHeight: 1.25rem;

$button-regular-width: 14.375rem;
$button-regular-height: 3rem;
$button-regular-radius: 3px;

$button-small-fontSize: 0.875rem; //14
$button-small-width: 0.75rem; //12
$button-small-height: 2.5rem;
$button-small-radius: 2.75rem;

$search-fontSize: 1.125rem; //18
$tabs-fontSize: $button-small-fontSize; //14
$tag-fontSize: $button-small-width; //12
$h4-fontSize: $search-fontSize;
$h3-fontSize: 1.5rem; //24
$h2-fontSize: 1.75rem; //28
$h1-fonstSize: 2.875rem; //46
$small-text: $button-small-width; //12
